#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-exynos8895-configs --name=apt-fix apt-fix.service --no-start
	dh_installsystemd -padaptation-exynos8895-configs --name=altresolv altresolv.service --no-start
